@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}


img {
    max-width: 100%;
}

.mobile-container {
    background-color: white;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem
}

header button {
    background-color: transparent;
    color: #aaa;
    font-size: 2rem;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;   
}

.fav-container {
    background-color: rgb(204, 239, 253);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-cocktails {
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-cocktails li {
    position: relative;
    margin: 5px;
    width: 75px;
}

.fav-cocktails li .clear {
    background-color: transparent;
    border: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;

}

.fav-cocktails li:hover .clear {
    opacity: 1;
}

.fav-cocktails li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331A;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-cocktails li span {
    font-size: 0.9 rem;
}

.cocktail {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    cursor: pointer;
    margin: 1.5rem;
    overflow: hidden;
}

.cocktail-header {
    position: relative;
}

.cocktail-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.cocktail-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.cocktail-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cocktail-body h4 {
    margin: 0;
}

.cocktail-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.2rem;
}

.cocktail-body .fav-btn.active {
    color: rebeccapurple;
}